body{
    background-color: rgb(0, 0, 0);
}

/*-----------------------------nav-bar--------------------------*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}



.h1{
    
    color: white; font-size: 22px; margin-left: 10px;margin-top: 5px;
}





/*************************** buttons w emplacement  mta3 tsawr **********************************/



@import  url('https:fronts.googleapis.com/css?family=Open+Sans&display=swap');
body{
    background-image: linear-gradient( 180deg,
    rgba(247,247,247,1) 23.8% rgba(252,221,221,1) 92%);
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin:0;
}

.results {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.result {
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 400px;
    width: 300;
}
.result img {
    object-fit: cover;
    width: 100%;
    height: 100%;
} 
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    background-color: rgba(248, 72, 72, 0.753);
    border: 0;
    border-radius: 4px;
    color: #ffffff;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    width: 300px;
}






















